<div class="container">
  <div class="row centralize">
    <div class="col-md-6 offset-md-3">

  <% if @user.profile_pic.url %>
    <%= image_tag @user.profile_pic.detail.url, {class: "admin-profile-image image-responsive"} %>
  <% else %>
    <img class="admin-profile-image image-responsive" src="http://fillmurray.com/200/300">
  <% end %>
    </div>
  </div>

  
  <div class="row centralize">
    <div class="col-md-6 offset-md-3">
      <h3 id="profile-name"><%= @user.first_name %> <%= @user.last_name %></h3>  
    </div>
  </div> 

  <div class="row">
    <div class="col-md-6 offset-md-3">
    <% if current_user.is_admin %>
    
    <h4>Email address:</h4>
    <p class="grey-text"><%= @user.email %></p>
    <h4>Phone number:</h4>
    <p class="grey-text"><%= @user.mobile %></p>
    <h4>Address:</h4>
    <address class="grey-text">
    <%= @user.address_1 %><br>
    <%= @user.address_2 %><br>
    <%= @user.postcode %>

    </address>

    <% else %>
      <h3 id="your-bookings" class="grey-text text-center">Your Bookings</h3>
      <hr>
      <% @user.groups.each do |group| %>
      <!-- EVENT IMAGE -->
      <%= image_tag group.event.brand_logo.thumb.url %><br>
      <!-- EVENT TITLE -->
      <h3 id="event-name"><%= group.event.name %></h3>
      <!-- EVENT DATE -->
      <h4><%= group.event.date %></h4>
      <!-- EVENT DESCRIPTION -->
      <p><%= group.event.description %><p>
      <!-- NO OF ATTENDEES IN GROUP -->
      <p>No. of attendees: <%= group.no_of_attendees %></p>
     
      <!-- EDIT BUTTON LINK_TO events/id -->
      <%= link_to 'Amend Attendees', event_path(group.event), {class: "amend-btn"} %>
      <br>
      <hr>
     
     <% end %> 
    <% end %>
    </div>
  </div>

</div>
