<div class="container">
<p id="notice"><%= notice %></p>
  <div class="row">
    <h2 class="text-center">Events</h2>
  </div>
<div class="row">
  <div class="pull-right" id="add_event">
  <% if current_user.is_admin %>
  <%= link_to '+', new_event_path %>
  <% end %>
  </div>
</div>


<div class="row">
  <div class="grey-text col-md-2 text-right">
    <small class="">Date:</small>
  </div>
  <div class="grey-text col-md-10 text-left">
    <small class=>Details:</small>
  </div>
</div>

<% @events.each do |event| %>
  <div class="row">
    <div class="date col-md-2 text-right">
      <h3 class=""><%= event.date %></h3>
    </div>
    <div class="date col-md-2 text-right">
      <h3 class=""><%= image_tag event.brand_logo.thumb.url %></h3>
    </div>

    <div class="event white-text col-md-8 text-left">
      <h3><%=link_to event.name, event %></h3>
      <p><%= event.description %></p>
    </div>
  </div>
<% end %>


<br>


</div>