<div class="container">
<h2><%= @event.name %></h2>
<h3 class="grey-text" id="event_date_run"><%= @event.date %></h3>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <input id="search" placeholder="Search" class="form-control"> 
    </div>    
  </div>
  <div class="row">
    <div class="col-md-3 offset-md-3">
      <h4>Name:</h4>
    </div>
    <div class="col-md-3">
      <h4>Attendees:</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <ul id="users" class="list-group">
        <% @event.groups.each do |group| %>
          <li class="" data-searchstring="<%= group.user.full_name %>"><%= group.user.full_name %>
            
            <%= form_for group, url: admit_event_path do |f| %>

              <%= f.hidden_field :id, value: group.id %>
              
            
              <%= f.hidden_field :outstanding_attendees, value: group.outstanding_attendees %>
              <%= f.number_field :no_of_entrees, placeholder: "Number of entrees" %>
            
             
              <%= f.submit "Admit", {class: "green-admit-btn"} %>
            
          </li>

           
          
            <% end %>

        <% end %>
      </ul>
    </div>
  </div>
</div>



