<!DOCTYPE html>
<html>
  <head>
    <title>GlideGuestlistApp</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  

  <header>
    <nav class="navbar">
      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
        &#9776;
      </button>
      <div class="collapse navbar-toggleable-xs pull-xs-right" id="exCollapsingNavbar2">
       
        <ul class="nav navbar-nav">
            <li class="nav-item"><%= link_to "Home", root_path %></li>
          <% if current_user %>
            <li class="nav-item">
              <% if current_user.is_admin %>
              <%= link_to "Profile", user_path(current_user) %>
              <% else %>
              <%= link_to "Your Bookings", user_path(current_user) %>
              <% end %>
            </li>
            <li class="nav-item"><%= link_to "Events", events_path %></li>
            <li class="nav-item"><%= link_to "Edit Profile", edit_user_registration_path %></li>
            <li class="nav-item"> <%= link_to "Log out", destroy_user_session_path, method: :delete %> </li>
          <% else %>
            <li class="nav-item"> <%= link_to "Sign In", new_user_session_path %> </li>
            <li class="nav-item"> <%= link_to "Register", new_user_registration_path %> </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </header>

  <% flash.each do |name, message| %>
    <div class="alert alert-<%= name %> alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= message %>
    </div>
  <% end %>
      <%= yield %>
 
  </body>
</html>


